{% extends 'base.html' %}

{% block head %}
<title>DnD</title>
{% endblock %}

{% block title %}
SETUP CAMPAIGN
{% endblock %}

{% block body %}
<header class="bg-light header_7">
    <div class="container px-xl-0 relative text-center text-md-left">
        <div>
            <h1>Setup Campaign</h1>
            <div>
                <div>
                    Customize your team and campaign
                </div>
            </div>
            <div class="d-block">
                <a href="/setup/members" class="btn btn-primary btn-lg btn-sp">Select members who will be playing</a>
                <a href="/setup/teams" class="btn btn-warning btn-lg btn-sp">Create the teams</a>
                <a href="/setup/setup_teams" class="btn btn-danger btn-lg btn-sp">Assign members to teams</a>
            </div>
        </div>
    </div>
    </div>
</header>
{% endblock %}